@media screen (max-width :600px){
    
}

/* Body Header */
body{
    margin: 0px;
}
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(image/macbook_mouse.jpg);   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Horizontal List */
.horizontal-list {
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
}
.horizontal-list li a:hover{
    color: red;
    border-bottom: 1px solid white;
}
/* Common Class */
.text-center{
    text-align: center;
}