body {
    margin-left: 60px;
    padding: 0px;
}

#content {
    margin-top: 40px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(141, 135, 222);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: burlywood;
}
h1,p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* h4{
    text-transform: uppercase;
} */
.ucase{text-transform: uppercase;}
#blog-title{
    color: brown;
    font-family: cursive;
}
/* #blog-title:hover{color:cornflowerblue}
#div1{
    width: 90%;
    height: 400px;
    background-color: aqua;
    border: 2px;
    border-radius: 2px;
    border-color: blanchedalmond;
    border-image: round; */
#para1{
    font-size: 20px;
    color: blue;
    font-weight: 600;
    text-align: justify;
    /* line-height: 2px; */
}
main{
    width: 70%;
    display: inline-block;
}
#main-header{
    width: 100%;
}
/* Aside section */
aside{
    width: 21%;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
}
.widget{
    border-top: 4px solid black;
}
.widget input{
    display: block;
    background-color: #f7f7f7;
    margin: 15px;
    padding: 4px;
    color: black;
    font-size: 1.2rem;
}

button[type="submit"]
{
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 10px;
}

.widget-title {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}